.App {
  text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 70%;
    margin: auto;
    padding-top: 30px;
}
.board {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 28%;
    border-radius: 12px;
    padding: 5px 10px;
    min-height: 90px;
    overflow: hidden;
}


.preloader {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
}

.new {
    border: 2px solid red;
}

.in-progress {
    border: 2px solid orange;
}

.complete {
    border: 2px solid green;
}

h2 {
    margin: 0;
}

.list {
    margin-top: 5px;
    display: grid;
    gap: 10px 0;
    height: 100%;
    flex-grow: 1;
}

.task {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    cursor: grab;
    border: 1px solid black;
    border-radius: 8px;
    height: 30px;
}